.shopcart{
    padding: 5px;
    border-radius: 5px;
    background: #caa;
}

.shopcart-noproduct-info{
    border-radius: 5px;
    background: #eee;
}

.shopcart-item{
    background: #eee;
}

.shopcart-item-controller{}

.shopcart-item-info{}